@import url('./containers.css');
@import url('./cards.css');
@import url('./footer.css');


/* UNIVERSAL STYLE */
body {
  margin: 0;
}


.img {
  border-radius: 5px;
  box-shadow: 10px 10px 8px #888888;
}

/* VIDEO Introductory Banner */

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 900px;
  width: auto;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}


.video-container .caption {
  z-index: 1;
  position: relative;
  color: rgba(222, 226, 230, 0.7);
  text-align: center;
}


.title {
  text-align: center;
}

#myPhoto {
  margin-top: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}


.img-box {
  padding: 1rem;
  /* align-items: center; */
}

.img.lx {
  width: 200px;
  height: 300px;
}



li {
  display: inline-block;
  padding: 0px 20px;
}
